*~
*-dev
modules.order
Module.symvers
Mkfile.old
dkms.conf
core.*
#*
.#*
\#*
*.local
\#*
.cvsignore
*_old/
*PVs.list
*/venv/
*/__pycache__/
test/walks/
test/demo_test/
tools/db_generate/subst/*.substitution
